.box1 h3{
    color: #f7cf0c;
    font-size: 30px;
    border-bottom: 5px solid;
    text-align: center;
    padding-bottom: 10px;

}
body{
    background-color: #3F599A;
}
.box1{
    padding-top: 40px;
}
.dm-tt li {
    color: white;
    list-style: none;
}

.list {
    text-align: left;
    font-size: 20px;
    font-weight: 500;
}

.lisss li {
    list-style: none;
}

.star-number {
    margin-top: 20px;
}

.star-number li {
    display: inline;
}

.star-number li .color {
    color: yellow;
}

.star-number li .color-white {
    color: white;
}

.dm-tt hr {
    color: white;
}
.box2>input{
    color: #FFFFFF;
    background-color: #3F599A;
    margin: 15px 0px 0px;
    width: 340px;
    height: 45px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-top-left-radius: 9px;
    border-bottom-right-radius: 9px !important;
    
}

.box3>p{
    color: #FFFFFF;
    margin: 15px 0 0;  
    font-size: 30px;
    font-weight: 600;
}
.box4{
    background-color: #383636;
  
}
.sub1-box4{
    color: #FFFFFF;
    margin: 20px 0 0;
    
}
.sub1-box4>input{
    width: 340px;
    height: 40px;
    /* padding: 20px 0 0 ; */
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-top-left-radius: 9px;
    border-bottom-right-radius: 9px;
    
}
.sub2-box4{
    color: #FFFFFF;
    margin: 20px 0 0;
    
   
}
.sub2-box4>input{
    width: 340px;
    height: 40px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-top-left-radius: 9px;
    border-bottom-right-radius: 9px;
    
   
}
/* .sub3-box4>input{
    color: #FFFFFF;
    margin: 20px 0 0;
    background-color: #E14938;
    width: 340px;
    height: 40px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-top-left-radius: 9px;
    border-bottom-right-radius: 9px;
} */
.sub3-box4>li{
    list-style: none;
    
  }
  .sub3-box4>li>a>input{
    width: 340px;
height: 40px;
/* padding: 20px 0 0 ; */
border-top-right-radius: 9px;
border-bottom-left-radius: 9px;
border-top-left-radius: 9px;
border-bottom-right-radius: 9px;
background-color: #E14938;
  }
.box5>input{
    color: #FFFFFF;
    background-color: #2ecc71;
    margin: 15px 0px 0px;
    width: 340px;
    height: 45px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-top-left-radius: 9px;
    border-bottom-right-radius: 9px;
    
}
.box6>input{
    color: #FFFFFF;
    background-color: #808080;
    margin: 15px 0px 0px;
    width: 340px;
    height: 45px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-top-left-radius: 9px;
    border-bottom-right-radius: 9px;
    
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.link {
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-decoration: none;
    margin-left: 20px;
    border: 2px solid red;
    border-radius: 10px;
    padding: 5px 10px;
    text-transform: uppercase;
}

.link:hover,
.link:active {
    background-color: white;
    color: red;
}

.tr {
    height: 6px;
}

.type-acc {
    font-size: small;
}

.btn-buy {
    width: 200px;
    margin-top: 10px;
}

.price {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: rgb(247, 4, 4);
}

.title-box {
    color: rgb(255, 252, 252);
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
}

.build {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    background-color: orangered;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;
    width: 200px;
    border: none;
    margin-right: 50px;
}

.build:hover {
    background-color: rgb(246, 191, 115);
    color: rgb(91, 88, 88);
}

.size{
    font-size: 25px;
    color:rgb(51, 51, 51);
    color: white;
}